
.iconBase {
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    @apply size-[40px] block bg-current;
}

.icon-acoustic-cabin {
    --svg: url("./svg/acoustic-cabin-b.svg");
    @apply iconBase;
}
.icon-agent-support {
    --svg: url("./svg/Agent-support.svg");
    @apply iconBase;
}
.icon-car-system {
    --svg: url("./svg/Car-system.svg");
    @apply iconBase;
}
.icon-key {
    --svg: url("./svg/keydrop-b.svg");
    @apply iconBase;
}
.icon-kiosk {
    --svg: url("./svg/Kios-b.svg");
    @apply iconBase;
}
.icon-locker-key {
    --svg: url("./svg/smartlocker-b.svg");
    @apply iconBase;
}
.icon-productivity {
    --svg: url("./svg/productivity.svg");
    @apply iconBase;
}
.icon-reduce {
    --svg: url("./svg/reduce.svg");
    @apply iconBase;
}
.icon-translation {
    --svg: url("./svg/translation.svg");
    @apply iconBase;
}
.icon-virtual-assistants {
    --svg: url("./svg/agent-b.svg");
    @apply iconBase;
}

.icon-all-in-one {
    --svg: url("./svg/All-in-one-b.svg");
    @apply iconBase;
}

.icon-meda {
    --svg: url("./svg/meda.svg");
    @apply iconBase;
}
.icon-verified {
    --svg: url("./svg/verified.svg");
    @apply iconBase;
}

.icon-user {
    --svg: url("./svg/user.svg");
    @apply iconBase;
}

.icon-email {
    --svg: url("./svg/email-account.svg");
    @apply iconBase;
}

.icon-linkedin {
    --svg: url("./svg/linkedin.svg");
    @apply iconBase;
}

.icon-youtube {
    --svg: url("./svg/play.svg");
    @apply iconBase;
}

.icon-instagram {
    --svg: url("./svg/camera.svg");
    @apply iconBase;
}

/* Additional icons used by Services */
.icon-recording-03 {
    --svg: url("./recording-03.svg");
    @apply iconBase;
}
.icon-recording-01 {
    --svg: url("./recording-01.svg");
    @apply iconBase;
}
.icon-chromecast {
    --svg: url("./chrome-cast.svg");
    @apply iconBase;
}
.icon-sliders-04 {
    --svg: url("./sliders-04.svg");
    @apply iconBase;
}
.icon-plus-square {
    --svg: url("./plus-square.png");
    @apply iconBase;
}

